<a href="https://colab.research.google.com/github/E40R/DSA/blob/main/Basic_Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic recursion problems

In [1]:
#print name 5 times
def printf(str,n):
  if n<=0:
    return
  print(str)
  printf(str,n-1)
printf("K",5)

K
K
K
K
K

Print linearly 1 to n

In [ ]:
def print2(n):
  if n<=0:
    return
  print2(n-1)
  print(n) #n starts from 5 so if we put print above it would print from 5 to 1 and not 1 to 5 so by putting it after recussion we can print form 1 to 5
print2(5)

1
2
3
4
5

Print n-1 : in basic way (no backtracking)

In [ ]:
def print3(i,n):
  if i>n:
    return
  print(i)
  print3(i-1,n)
print3(3,3)

3
2
1

Sum of first n numbers

In [ ]:
def sumf(n):
  if n<=0:
    return 0
  return n+sumf(n-1)
sumf(5)

15

Parametrised way

In [ ]:
def sumfp(i,n):
  if i<1:
    print(n)
    return
  sumfp(i-1,n+i)
sumfp(5,0) #understanding this is also imp as it might be useful for some problems

15

A bit advanced <br>
Reverse array

In [ ]:
arr=[0,1,2,3,4]
def rev(l,r):
  if l>=r:
    return
  temp=0
  arr[l]=temp
  arr[l]=arr[r]
  arr[r]=temp
  rev(l+1,r-1)
print(arr)
rev(0,len(arr)-1)
print("reversed :", arr)

[0, 1, 2, 3, 4]
reversed : [4, 3, 2, 0, 0]

Palandrome

In [ ]:
def ispal(a,i):
  a=a.lower()
  if i>=len(a)/2:
    return True
  if a[i]!=a[len(a)-i-1]:
    return False
  return ispal(a,i+1)
ispal("MADAm",0)

True

Multiple reccusion calls

In [ ]:
#Fibonacc
def fib(n):
 if n<=1:
  return n
 return fib(n-1)+fib(n-2)
fib(5)

5